<style>
body {
    text-align:;
    background:url("http://static.hdw.eweb4.com/media/thumbs/1/114/1132763.jpg");
    background-size: cover;
    color: white;
    font-family: helvetica;
    }
h3 {
    color: white;
}
li {
    color:red;
}
</style>
